---
import * as interfaces from '../../lib/interfaces.ts'
import { snakeToKebab } from '../../lib/style-helpers.ts'
import RichText from './RichText.astro'
import NotionBlocks from '../NotionBlocks.astro'
import '../../styles/notion-color.css'

export interface Props {
  block: interfaces.Block
  headings: interfaces.Block[]
}

const { block, headings } = Astro.props
---

<p class={snakeToKebab(block.Paragraph.Color)}>
  {
    block.Paragraph.RichTexts.map((richText: interfaces.RichText) => (
      <RichText richText={richText} />
    ))
  }
  {
    block.Paragraph.Children && (
      <NotionBlocks blocks={block.Paragraph.Children} headings={headings} />
    )
  }
</p>

<style>
  p {
    margin: 1rem 0; /* customized */
    font-size: 1rem;
    min-height: 1.8rem;
  }

  @media (min-width: 1024px) {
    p {
      font-size: 1.125rem; /* 18px on desktop */
    }
  }
</style>
