---
import { Image } from "astro:assets";

export interface Props {
  url: string;
  name: string;
  days: string;
  img: string;
}

const { url, name, days, img } = Astro.props;
---

<a href={url}>
  <div class="lg:pt-12 pt-6 w-full px-4 text-center">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-8 hover:bg-gray-100"
    >
      <div class="px-4 py-5 flex-auto">
        <div
          class="w-12 h-12 rounded-full ring-offset-base-100 ring-offset-2 items-center justify-center text-white inline-flex mb-4"
        >
          <Image
            src={img}
            class="w-12 h-12 rounded-full"
            width={768}
            height={400}
            alt="Event trademark image"
          />
        </div>
        <h6 class="text-xl font-semibold">{name}</h6>
        <div class="my-2 border-b-2 border-gray-300"></div>
        <p class="mt-2 mb-4 text-gray-600">
          {days}
        </p>
      </div>
    </div>
  </div>
</a>
