---
export interface Props {
	title?: string;
  href?: string;
  logo?: string;
}
const { title, href, logo } = Astro.props;
---
<div
  class="relative flex content-center items-center justify-center bg-transparent overflow-hidden"
  style="min-height: 40vh"
>
  {/* Global background is used now, so no local background elements needed */}

  <div class="container relative mx-auto z-10">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4 ml-auto mr-auto text-center">
        <div class="">
          {
            title
              ? href
                ? <a href={href}><img src={logo || "/images/lp/cnd_logo_color.png"} alt={title} class="h-24 md:h-32 mx-auto object-contain my-10" /></a>
                : <img src={logo || "/images/lp/cnd_logo_color.png"} alt={title} class="h-24 md:h-32 mx-auto object-contain my-10" />
              : ""
          }
          <slot />
        </div>
      </div>
    </div>
  </div>
</div>
