---
export interface Props {
	title?: string;
  href?: string;
}
const { title, href } = Astro.props;
---
<div
  class="relative flex content-center items-center justify-center bg-gray-300"
  style="min-height: 30vh"
>
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style={{
      backgroundImage:
        "url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80')",
    }}
  >
    <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4 ml-auto mr-auto text-center">
        <div class="">
          {
            title
              ? href
                ? <a href={href}><h1 class="text-white font-semibold text-5xl">{title}</h1></a>
                : <h1 class="text-white font-semibold text-5xl">{title}</h1>
              : ""
          }
          <slot />
        </div>
      </div>
    </div>
  </div>
</div>
