---
import type { Speaker } from "../types/speaker";
export interface Props {
  id: number;
  abbr?: string;
  title?: string;
  speakers?: { id: number; name: string }[];
}

const { id, abbr, title, speakers } = Astro.props;
---

<a href={`/${abbr}/talks/${id}`}>
  <div class="w-full text-center">
    <div class="relative flex flex-col min-w-0 break-words w-full">
      <div class="py-2 flex-auto">
        <h6 class="text-xl font-semibold">
          {title}
        </h6>
        <div class="my-2 border-b-2 border-gray-300"></div>
        <p class="mt-2 text-gray-600">
          {speakers?.map((s) => s.name).join(",")}
        </p>
      </div>
    </div>
  </div>
</a>
